<h1>予約済みルーム一覧</h1>
<table>
   <thead>
     <tr>
       <th>登録番号</th>
       <th>ルーム画像</th>
       <th>ルーム名</th>
       <th>ルーム紹介</th>
       <th>料金</th>
       <th>開始日</th>
       <th>終了日</th>
       <th>予約確定時刻</th>
     </tr>
   </thead>
   <tbody>
    <% @user.reservations.each do |reservation| %>
     <tr>
       <td><%= reservation.id %></td>
       <%# <td><%= reservation.hotel.hotel_image %><%#</td> %>
       <td><%= reservation.hotel.name%></td>
       <td><%= reservation.hotel.hotel_introduction%></td>
       <td><%= reservation.hotel.price%></td>
       <td><%= reservation.start%></td>
       <td><%= reservation.end%></td>
       <td><%= reservation.created_at%></td>
       <td></td>
     </tr>
    <% end %>
   </tbody>

</table>
