<%= @hotel.hotel_image %>
<%= @hotel.name %>
<%= @hotel.hotel_introduction %>
<%= @hotel.price %>
<%= @hotel.address %>

<h2 class="fs-5 mb-3">予約</h2>

<%= form_with model:@reservation do |f| %>

  <div>
    <%= f.label :start ,"開始日" %>
    <%= f.date_field :start %>
  </div>
  <div>
    <%= f.label :end ,"終了日" %>
    <%= f.date_field :end %>
  </div>

  <div class="field mb-2">
    <%= f.label :NumberOfGuests, "人数" ,class:"text-muted"%><br/>
    <%= f.number_field :NumberOfGuests,class:"border rounded col-12 border-dark p-1"%>
  </div>


  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.hidden_field :hotel_id, value: @hotel.id %>

  <div class="actions box-login">
    <%= f.submit "施設を登録する" ,class:"d-flex justify-content-center align-items-center mb-2"%>
  </div>
<% end %>
